<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Ajax</title>
    <script type="text/javascript">
        function testAjax() {
            //创建ajax对象
            var xhr=new XMLHttpRequest();
            //建立链接
            xhr.open("get","responseToAjax");
            //发送消息
            xhr.send(null);

            var data = {
                "title": "JavaScript Templates",
                "license": {
                    "name": "MIT license",
                    "url": "https://opensource.org/licenses/MIT"
                },
                "features": [
                    "lightweight & fast",
                    "powerful",
                    "zero dependencies"
                ]
            };

            document.getElementById("dsl").innerHTML = tmpl("tmpl-demo", data);
        }

        function asyn() {
            var xhr=new XMLHttpRequest();

            xhr.open("get","asynAjax");
            xhr.onreadystatechange=function () {
                if(xhr.readyState==4)
                    alert(xhr.responseText);
            }
            xhr.send(null);
        }
    </script>
    {literal}
    <script type="text/x-tmpl" id="tmpl-demo">
        <h3>{%=o.title%}</h3>
        <p>Released under the
        <a href="{%=o.license.url%}">{%=o.license.name%}</a>.</p>
        <h4>Features</h4>
        <ul>
        {% for (var i=0; i<o.features.length; i++) { %}
            <li>{%=o.features[i]%}</li>
        {% } %}
        </ul>
    </script>
    {/literal}
    <script src="{$smarty.const.__PUBLIC__}/JsTemplates/js/tmpl.js"></script>
    <script src="{$smarty.const.__PUBLIC__}/jQuery_File_Upload/js/jquery.min.js"></script>
</head>
<body>
    <input type="button" onclick="testAjax()" value="发送消息">
    <input type="button" onclick="asyn()" value="异步"/>
    <div id="dsl"></div>

</body>
</html>