<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xml输出显示</title>
    <script type="text/javascript">
        function xmlHandle()
        {
            var xhr=new XMLHttpRequest();

            xhr.onreadystatechange=function () {
                if(xhr.readyState==4)
                {
                    var xmlDom=xhr.responseXML;

                    //获取根节点
                    var messages=xmlDom.firstChild;

                    console.log(messages);

                    var msgs=xmlDom.getElementsByTagName("msg");
                    for(var i=0;i<msgs.length;i++)
                    {
                        var test=msgs[i].getElementsByTagName("sender")[0].firstChild.nodeValue;
                        console.log(test);
                    }
                }
            }

            xhr.open("get","/shop/Admin/View/Ajax/xmlInfo.xml");
            xhr.send(null);
        }
    </script>
</head>
<body>
<input type="button" onclick="xmlHandle()" value="获取xml信息">
</body>
</html>